body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

video {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
}

canvas {
    display: none;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
